@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-gray: #a5a4a1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	letter-spacing: 0.02em;
	line-height: 1.25;
}

	font-size: 1rem;
	}

}
