@font-face {
	font-family: 'Gustavo';
	font-weight: 700;
	src: url('/fonts/gustavo-700.woff2') format('woff2');
}

@font-face {
	font-family: 'HAL Matex Book';
	font-weight: 400;
	src: url('/fonts/hal-matex-book.woff2') format('woff2');
}

@font-face {
	font-family: 'Unknown Mono';
	font-weight: 400;
	src: url('/fonts/unknown-mono-400.woff2') format('woff2');
}
@font-face {
	font-family: 'Unknown Mono';
	font-weight: 700;
	src: url('/fonts/unknown-mono-700.woff2') format('woff2');
}
